.dark-background {
  background-color: rgba(155, 155, 155, .5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-size: cover;
  height: 100vh;
}

.background {
  position: relative;
  background-image: url('../../images/tma-working.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

/* position: relative;
  background: url('https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fsource.sierrawireless.com%2F~%2Fmedia%2Fdeveloper%2520zone%2Fnews%2Feuairtraffic.jpg.ashx%3Fla%3Den&f=1');
  height: 100vh;
  background-size: cover; */

/* background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  right: 0; */

/* .App {
  font-family: sans-serif;
  text-align: center;
} */

/* .App-header {
  margin-top: 60px;
  background-color: rgba(0, 0, 0, .6);
  color: white;
} */

/* .dark-cover {
  background-color: rgba(0, 0, 0, .6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 800%;
} */

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  /* background-color: rgba(155, 155, 155, 0.5); */
  /* position: absolute; */
  padding: 1rem;
  margin-top: 8em;
  grid-gap: 90px 100px;
  /* float: left; */
  /* margin: 1.66%; */
}

/* div.grid-item-1 {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 120px;
} */

.caption {
  display: block;
}

.grid-item-1 {
  background-image: url('../../images/lpwa.jpg');
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.grid-item-2 {
  background-image: url('../../images/first-responder.png'); 
  background-size: 100px;
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px;
  font-size: 30px;
  text-align: center;
}

.grid-item-3 {
  background-image: url('../../images/5g.png');
  background-position: center;
  background-size: cover;
  padding: 80px;
  font-size: 30px;
  text-align: center;
}

.grid-item-4 {
  background-image: url('../../images/smart-sim.png');
  background-size: 250px;
  background-repeat: no-repeat;
  font-size: 30px;
  text-align: center;
}

.grid-item-5 {
  background-image: url('../../images/open-source.png');
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 80px;
  font-size: 30px;
  text-align: center;
}

.grid-item-6 {
  background-image: url('../../images/security2.jpg');
  background-position: center;
  background-size: 150%;
  padding: auto;
  font-size: 30px;
  text-align: center;
}